import { 
    AuthenticationService,
    AuthenticationRequest,
    AuthenticatedUser
} from "../index"

export class MockAuthenticatedUser implements AuthenticatedUser {
    id: string
    username: string
    displayName: string
}

export class MockAuthenticationService implements AuthenticationService {
    async login(authenticationRequest: AuthenticationRequest): Promise<AuthenticatedUser> {
        if (!authenticationRequest.username || authenticationRequest.password != 'password') {
            return await undefined
        }

        const user: MockAuthenticatedUser = {
            id: '99',
            username: authenticationRequest.username,
            displayName: authenticationRequest.username
        }
        return await user
    }    
    async logout(): Promise<boolean> {
        return await false
    }
    async isLoggedIn(): Promise<boolean> {
        return await false
    }
}