import React from "react"
import { View } from "react-native"
import { Textblock } from ".."
import { theme } from "../../theme"
import { {{pascalCase name}}Props } from "./{{camelCase name}}.props"
import { {{pascalCase name}}Styles } from "./{{camelCase name}}.styles"
import { {{pascalCase name}}State } from "./{{camelCase name}}.state"

export class {{pascalCase name}} extends React.Component<{{pascalCase name}}Props, {{pascalCase name}}State> {

    // Look at https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html for best practice on lifecycle handling and key concepts
    // Initialise state
    state = {
        value: 1
    }

    // State
    increment() {
        // This is an example state interaction that will force the state counter to increment
        this.setState(oldState => {
            // Use immutable state, so generate a new state object when affecting a state change
            const newState: {{pascalCase name}}State = {
                value: oldState.value+1
            }
            return newState
        });
    }

    // Component lifecycle
    constructor(props: {{pascalCase name}}Props) {
        super(props)
    }

    componentDidMount() {
        // Just as an example, we'll trigger an arbitrary increment here. Do something more appropriate for your use-case :)
        this.increment()
    }

    // Rendering
    render() {
        const style = this.props.style
        return (
            <View style={style}>
                <Textblock>My current value is {this.state.value}</Textblock>
                <Textblock>I last updated at {new Date().toLocaleTimeString()}</Textblock>
            </View>
        )
    }    
}
