import React from "react"
import { View } from "react-native"
import { theme } from "../../theme"
import { {{pascalCase name}}Props } from "./{{camelCase name}}.props"
import { {{pascalCase name}}Styles } from "./{{camelCase name}}.styles"

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props) => {
    // Any local styles are available via the {{pascalCase name}}Styles reference, defined in ./{{camelCase name}}.styles
    const style = props.style
    return (
        <View style={style}>
            {props.children}
        </View>
    )
}
