import React from "react"
import { Image } from "react-native"
import { Button } from "react-native-material-ui"
import { {{pascalCase name}}Props } from "./{{camelCase name}}.props"
import { Wallpaper, Screen, Section, Textblock } from "../../components"
import { {{pascalCase name}}Styles } from "./{{camelCase name}}.styles"

export const {{pascalCase name}}Screen: React.FC<{{pascalCase name}}Props> = (props) => {
    const submit = () => { 
        // TODO Add the behaviour to implement onSumit if required
        props.navigation.navigate("Login")
    }

    // Any local styles are available via the {{pascalCase name}}Styles reference, defined in ./{{camelCase name}}.styles

    const logo = require("../../assets/logo.png")
    return (
        <>
        <Wallpaper />
        <Screen>
            <Section>
                <Image source={logo}></Image>
                <Textblock preset="header">Screen "{{pascalCase name}}"</Textblock>
            </Section>
            <Section>
                <Button text="Submit" raised primary onPress={submit} icon="done">
                </Button>
            </Section>
        </Screen>
    </>
    )
}