import { StyleSheet } from 'react-native';
  
/*
Styles purely for use by this screen. If styles are globally effectual, use "themes" instead
*/

export const {{pascalCase name}}ScreenStyles = StyleSheet.create({

});
