import * as React from 'react';
import { KeyboardAvoidingView, TextInput } from "react-native"
import { Button } from "react-native-material-ui"
import { LoginProps } from "./login.props"
import { theme } from "../../theme"
import { Screen, Section, Textblock } from "../../components"
import { inject, observer } from 'mobx-react'

/*
If your screen/component needs to be state aware, uss a class component instead of a FunctionComponent (FC)
*/

@inject('rootTree')
@observer
export class LoginScreen extends React.Component<LoginProps> {

    constructor(props: LoginProps) {
        super(props)
    }

    submit = () => { 
        const id = '123'
        this.props.rootTree.application.loggedIn(id, 'some user')
        this.props.navigation.goBack();
    }

    render() {
        const { rootTree } = this.props

        if (!rootTree) {
            return null
        }
        return (
            <Screen>
                <KeyboardAvoidingView>
                    <Section>
                        <Textblock>Username</Textblock>
                        <TextInput style={theme.defaults.textInput}></TextInput>
                        <Textblock>Password</Textblock>
                        <TextInput style={theme.defaults.textInput}></TextInput>
                    </Section>
                    <Section>
                        <Button text="Login" raised primary onPress={this.submit} icon="done">
                        </Button>
                    </Section>
                </KeyboardAvoidingView>
            </Screen>
        )
    }    
}