import React from "react"
import { View } from "react-native"
import { Textblock } from ".."
import { UserStatusProps } from "./user-status.props"
import { inject, observer } from 'mobx-react'

@inject('rootTree')
@observer
export class UserStatus extends React.Component<UserStatusProps> {

    constructor(props: UserStatusProps) {
        super(props)
    }

    render() {
        const { rootTree } = this.props

        if (!rootTree) {
            return null
        }
        return (
            <View>
                <Textblock>Last login: {rootTree.application.lastLogin}</Textblock>
            </View>
        )
    }    
}
